name: 03_dotnet_02_BuildAndRunTests

on:
  push:
    branches:
      - "main"
      - "Develop"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
  workflow_call:
jobs:
  call-Build-workflow-from-run-tests:
    uses: ./.github/workflows/02_dotnet_01_RestoreAndBuildDotnetProjects.yml
  run-test:
    runs-on: ubuntu-latest
    needs: call-Build-workflow-from-run-tests
    steps:
      - uses: actions/checkout@v5
      - name: Download a single artifact
        uses: actions/download-artifact@v5
        with:
          name: build-result
          path: artifacts
      - name: Display structure of downloaded files
        run: ls -R
      - name: Test with the dotnet CLI
        run: dotnet test ./WebApplicationXGO.sln --no-build --artifacts-path artifacts
