name: publish store
on:
    push:
        branches:
            - "main"
            - "develop"
jobs:
    call-Build-workflow:
        uses: "./.github/workflows/04_dotnetpublish_00_buildRelease.yml"
    build:
        runs-on: ubuntu-latest
        needs: call-Build-workflow
        steps:
            - name: Download a single artifact
              uses: actions/download-artifact@v5
              with:
                  name: store-artifact
                  path: artifacts
            - name: Display structure of downloaded files
              run: ls -R
