name: 04_dotnetpublish_01_proxy
on:
    workflow_run:
        workflows: ["04_dotnetpublish_00_buildRelease"] # Wait for this workflow by name
        types: [completed] # Trigger when it completes
        branches: ["main", "Develop"] # Only for these branches

# Special permissions required for OIDC authentication
permissions:
    id-token: write
    contents: read

jobs:
    call-react-from-proxy-publish:
        uses: "./.github/workflows/01_reactBuild.yml"
    download-and-publish-proxy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }} # Only run if build succeeded
        environment: Personal_Azure

        runs-on: ubuntu-latest
        needs: call-react-from-proxy-publish
        steps:
            - name: Download proxy artifact
              uses: actions/download-artifact@v4
              with:
                  name: proxy-artifact
                  path: .
                  github-token: ${{ secrets.GITHUB_TOKEN }} # Auth to download from another workflow
                  run-id: ${{ github.event.workflow_run.id }} # Download from THAT specific build run
            - name: Download react artifact
              uses: actions/download-artifact@v4
              with:
                  name: react-artifact
                  path: wwwroot
            - name: Display structure of downloaded files
              run: ls -R
            - name: Login to Azure
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                  enable-AzPSSession: true

            - name: Deploy to Azure Web App
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v3
              with:
                  app-name: "WebAppsProxy"
                  slot-name: "Production"
                  package: .
