name: 04_dotnetpublish_01_store
on:
    push:
        branches:
            - "main"
            - "Develop"
    # pull_request:
    #     branches:
    #         - "main"
jobs:
    call-Build-release-workflow-from-store-publish:
        uses: "./.github/workflows/04_dotnetpublish_00_buildRelease.yml"
    build:
        runs-on: ubuntu-latest
        needs: call-Build-release-workflow-from-store-publish
        steps:
            - name: Download store artifact
              uses: actions/download-artifact@v4
              with:
                  name: store-artifact
                  path: artifacts
            - name: Display structure of downloaded files
              run: ls -R
