name: 04_dotnetpublish_01_proxy
on:
    workflow_run:
        workflows: ["04_dotnetpublish_00_buildRelease"] # Wait for this workflow by name
        types: [completed] # Trigger when it completes
        branches: ["main", "Develop"] # Only for these branches

jobs:
    call-react-from-proxy-publish:
        uses: "./.github/workflows/01_reactBuild.yml.yml"
    download-and-publish:
        runs-on: ubuntu-latest
        needs: call-react-from-proxy-publish
        steps:
            - name: Download proxy artifact
              uses: actions/download-artifact@v4
              with:
                  name: proxy-artifact
                  path: .
                  github-token: ${{ secrets.GITHUB_TOKEN }} # Auth to download from another workflow
                  run-id: ${{ github.event.workflow_run.id }} # Download from THAT specific build run
            - name: Download react artifact
              uses: actions/download-artifact@v4
              with:
                  name: react-artifact
                  path: wwwroot
            - name: Display structure of downloaded files
              run: ls -R
