name: reactBuildAndPublish

defaults:
  run:
    working-directory: client

on:
  push:
    branches:
      - "main"
      - "develop"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Create msalKeys.ts
        run: |
          cat > src/msalKeys.ts << EOF
          export const MSAL_ClientId = "${{ secrets.AZURE_REACT_APPREGISTRATION_CLIENTID }}";
          export const MSAL_Authority = "${{ secrets.AZURE_REACT_APPREGISTRATION_TENANTID }}";
          export const MSAL_API_SCOPE = "${{ secrets.AZURE_REACT_APPREGISTRATION_SCOPE }}";
          EOF

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build
      #upload build result
      - name: Archive production artifacts
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: build-result
          path: client/dist
          retention-days: 1
